<tr>
  <td>
    <%= link_to ingredient_path(ingredient.id), class: "btn btn-default" do %>
      <i class="fa fa-eye"></i>
    <% end %>

    <%= link_to edit_ingredient_path(ingredient.id), class: "btn btn-default" do %>
      <i class="fa fa-pencil"></i>
    <% end %>

    <%= link_to ingredient_path(ingredient.id), method: :delete, class: "btn btn-default" do %>
      <i class="fa fa-times"></i>
    <% end %>
  </td>

  <td><%= ingredient.name %></td>
  <td><%= ingredient.calories %></td>
</tr>
